html,
body {
    height: 100%;
  	padding: 10px;
  	padding-top: 0px;
    overflow: hidden;
    font-family: monospace;
    font-size: 14px;
    color: black;
}

.device {
	width: 350px;
	height: 180px;
	background-color: black;
	color: white;
	margin: 10px;
	font-size: 30px;
}

.name {
	font-size: 40px;
}
.name, .status, .value {
	margin: 10px;
}

.status {
	color: red;
}

.active {
	color: green;
}
